<!DOCTYPE html>
<html>
<head>
  <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
  
  <script>
  $(document).ready(function() {
    
    change_value();

    $("#sortable").sortable();
    
    $('.items').mouseover(function(){  
      change_value ();
    });
  });

  function change_value ()
  {
    var items = new Array();
    var item;

    $('.items').each(function(){
        item = $(this).attr('id');
        items.push(item);
      });
    $('#order_field').attr('value', items);
  }


  </script>
  <style>
    #sortable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
    #sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; height: 18px; }
    #sortable li span { position: absolute; margin-left: -1.3em; }
    </style>
</head>
<body >
    <div class="span8">
        <h3>Test One Items</h3>
        <%= form_for :items, :url =>{:action =>"update_list1",:test =>"1"} do |f| %>
            <ul id="sortable">
                <% n=1; @list.each do |l| %>    
                    <li id ="<%= l.id %>" class="ui-state-default items">
                      <span class="ui-icon ui-icon-arrowthick-2-n-s"></span>
                      <%= l.item %>
                      <% n = n+1 %>
                    </li>
                <%end %>
            </ul> 

            <%= f.hidden_field "order",:value =>"", :id => 'order_field' %>
            <%= f.button "Save List",:class =>'btn btn-success', :id => 'save_sorted' %>
        <% end %>     
     </div>

</body>
</html>



