<div class="span8">
  <!-- <h3>Test One Items</h3> -->
  <p>
    Below you will find 18 words or phrases. Each of these phrases or words represents something that different individuals may value differently—depending on their own feelings about how good or bad it is. 
  </p>
  <p>  
    Drag-and-Drop the following words or phrases to rearrange them so that they are in order of best-to-worst.  The word or phrase that represents the best (highest) value as far as you are concerned should be in the first position. The one that you feel is the worst should be in the last position. Do not judge the expressions by their importance, but only by the goodness or badness of their content.
  </p>
  <p>  
    It is best to work quickly. You can rearrange these words and phrases as much as you want until you are ready to continue to Part 2. There is no time limit, but most people can complete Part 1 in less than ten minutes.
  </p>
  <%= form_for :items, :url =>{:action =>"update_list1",:test =>"1"} do |f| %>
    <ul id="sortable">
        <% n=1; @list.each do |l| %>    
            <li id ="<%= l.id %>" class="ui-state-default items">
              <!-- <span class="ui-icon ui-icon-arrowthick-2-n-s"></span> -->
              <b class="number"><%= l.id %></b>
              <%= l.item %>
              <% n = n+1 %>
            </li>
        <%end %>
    </ul> 

    <%= f.hidden_field "order",:value =>"", :id => 'order_field' %>
    <%= f.button "Save List",:class =>'btn btn-success', :id => 'save_sorted' %>
  <% end %>     
</div>